{% extends "coffee/base.html" %}
{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'coffee:index' %}">Главная</a></li><li>&rarr;</li>
    <li><a href="{% url 'coffee:all-bags' %}">Кофе</a></li>
    {% block breadcrumbs %}{% endblock %}
</ul>
<h2>{% block heading %}{% endblock %}</h2>
<ul class="coffee-bags">
    {% for bag in bags %}
    <li>
        <div class="bag-image">
        {% if bag.thumbnail %}
            <a href="{{ bag.get_absolute_url }}"><img src="{{ bag.thumbnail.url }}"></a>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        </div>
        <div class="bag-name"><a href="{{ bag.get_absolute_url }}">{% if bag.coffee.short_name %}{{ bag.coffee.short_name }}{% else %}{{ bag.coffee.name }}{% endif %}</a></div>
        <div class="bag-weight">{{ bag.get_weight_display }}</div>
        <div class="bag-roaster"><a href="{{ bag.coffee.roaster.get_absolute_url }}">{{ bag.coffee.roaster.name }}</a></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
