{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Coffee log</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/coffee.css" %}?v3" />
        {% block extra_css %}{% endblock %}
        <script type="text/javascript" src="{% static "js/jquery-3.2.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        {% block extra_js %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="container">
                <a href="{% url 'coffee:index' %}" class="logo-link">Coffee log</a>
                <ul id="header-links">
                    <li><a href="{% url 'coffee:all-bags' %}">Кофе</a></li>
                    <li><a>&#9679;</a></li>
                    <li class="hidden-xs"><a href="{% url 'coffee:roasters' %}">Обжарщики</a></li>
                    <li class="hidden-xs"><a>&#9679;</a></li>
                    <li class="hidden-xs"><a href="{% url 'coffee:methods' %}">Способы заваривания</a></li>
                    <li class="hidden-xs"><a>&#9679;</a></li>
                    <li class="hidden-xs"><a href="{% url 'coffee:waters' %}">Вода</a></li>
                    <li class="hidden-xs"><a>&#9679;</a></li>
                    <li><a href="{% url 'coffee:notes' %}">Ноты</a></li>
                    <li><a>&#9679;</a></li>
                    <li><a href="{% url 'coffee:stats' %}">Статистика</a></li>
                </ul>
                <div id="search">
                    <form action="{% url 'coffee:search' %}">
                        <input name="query" class="form-control" placeholder="Поиск" {% if query %}value="{{ query }}"{% endif %} />
                    </form>
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
        {% block content %}{% endblock %}
        </div>
        {% block brew_list %}{% endblock %}
        {% block after_brew_list_content %}{% endblock %}
    </body>
</html>
