{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Coffee log</title>
        <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
        <link rel="stylesheet" href="{% static "css/skeleton.css" %}" />
        <link rel="stylesheet" href="{% static "css/coffee.css" %}" />
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-3.2.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    </head>
    <body>
        <div class="container">
        <header>
            <nav>
                <a href="{% url 'coffee-index' %}">Coffee log</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
