{% extends "coffee/base.html" %}
{% block content %}
<h3>{{ brew.coffee_bag.coffee.name }}, {{ brew.datetime }}</h3>

<div class="edit-link">
    <a href="{% url 'brew-edit' brew.id %}">Edit</a> |
    <a href="{% url 'brew-copy' brew.id %}">Copy</a>
</div>

<table class="table">
    <tr>
        <td>Coffee:</td><td>{{ brew.coffee_bag.coffee.name }}</td>
    </tr>
    {% if brew.coffee_bag.coffee.roast_profile %}
    <tr>
        <td>Roast profile:</td><td>{{ brew.coffee_bag.coffee.roast_profile }}</td>
    </tr>
    {% endif %}
    {% if brew.coffee_bag.roast_date %}
    <tr>
        <td>Roast date:</td><td>{{ brew.coffee_bag.roast_date }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Grinder setting:</td><td>{% if brew.grinder_setting %}{{ brew.grinder_setting }}{% endif %}</td>
    </tr>
    <tr>
        <td>Brew method</td><td>{{ brew.method }}</td>
    </tr>
    <tr>
        <td>t &deg;C</td><td>{{ brew.temperature }}</td> 
    </tr>
    <tr>
        <td>Coffee Weight</td><td>{% if brew.coffee_weight %}{{ brew.coffee_weight }}g{% endif %}</td>
    </tr>
    <tr>
        <td>Water Volume</td><td>{% if brew.water_volume %}{{ brew.water_volume }}ml{% endif %}</td>
    </tr>
    <tr>
        <td>Brew Time</td><td>{% if brew.brew_time %}{{ brew.get_brew_time_display }}{% endif %}</td>
    </tr>
    <tr>
        <td>Bloom</td><td>{{ brew.get_bloom_display }}</td> 
    </tr>
    <tr>
        <td>Rating</td><td class="rating-stars">
            {% for starred in brew.get_rating_stars %}
            <span>{% if starred %}&#9733;{% else %}&#9734;{% endif %}</span>
            {% endfor %}
        </td>
    </tr>
    {% if brew.comment %}
    <tr>
        <td>Comment</td><td>{{ brew.comment }}</td>
    </tr>
    {% endif %}
</table>

<p>Found descriptors:</p>
<ul>
{% for descriptor in brew.found_descriptors.all %}
<li>{{ descriptor }}</li>
{% endfor %}
</ul>
{% csrf_token %}
<script>
$(".rating-stars span").click(function() {
    var rating = $(this).index() + 1;
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    $.ajax({
        url: "{% url 'brew-rate' brew.id %}",
        type: "POST",
        dataType: "text",
        data: "csrfmiddlewaretoken=" + csrf_token + "&rating="+rating,
        success: function(response) {
            if (response == "ok") {
                $(".rating-stars span").each(function(index, elem) {
                    if (index < rating) {
                        $(elem).html("&#9733;");
                    }
                    else {
                        $(elem).html("&#9734;");
                    }
                });
            }
        },

    });
});
</script>
{% endblock %}
