{% extends "coffee/base.html" %}
{% block content %}
<h3>{{ brew.coffee_bag.coffee.name }}, {{ brew.datetime }}</h3>

<div class="edit-link">
    <a href="{% url 'brew-edit' brew.id %}">Edit</a> |
    <a href="{% url 'brew-copy' brew.id %}">Copy</a>
</div>

<table class="table">
    <tr>
        <td>Кофе</td><td><a href="{{ brew.coffee_bag.get_absolute_url }}">{{ brew.coffee_bag.coffee.name }}</a></td>
    </tr>
    {% if brew.coffee_bag.coffee.roast_profile %}
    <tr>
        <td>Обжарка</td><td>{{ brew.coffee_bag.coffee.roast_profile }}</td>
    </tr>
    {% endif %}
    {% if brew.coffee_bag.roast_date %}
    <tr>
        <td>Дата обжарки</td><td>{{ brew.coffee_bag.roast_date }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Бариста</td><td>{{ brew.barista }}</td>
    </tr>
    <tr>
        <td>Помол</td><td>{% if brew.grinder_setting %}{{ brew.grinder_setting }}{% endif %}</td>
    </tr>
    <tr>
        <td>Способ заваривания</td><td>{{ brew.method }}</td>
    </tr>
    {% if brew.filter %}
    <tr>
        <td>Фильтр</td><td>{{ brew.filter }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>t &deg;C</td><td>{{ brew.temperature }}</td> 
    </tr>
    <tr>
        <td>Вес</td><td>{% if brew.coffee_weight %}{{ brew.coffee_weight }}г{% endif %}</td>
    </tr>
    <tr>
        <td>Объём воды</td><td>{% if brew.water_volume %}{{ brew.water_volume }}мл{% endif %}</td>
    </tr>
    <tr>
        <td>Время</td><td>{% if brew.brew_time %}{{ brew.get_brew_time_display }}{% endif %}</td>
    </tr>
    <tr>
        <td>Цветение</td><td>{{ brew.get_bloom_display }}</td> 
    </tr>
    {% for pouring in brew.pouring_set.all %}
    <tr>
        <td>Пролив #{{ pouring.order }}</td><td>{{ pouring.volume }}мл{% if pouring.wait_time %} (подождать {{ pouring.wait_time }} сек){% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Оценка</td><td class="rating-stars">
            {% for starred in brew.get_rating_stars %}
            <span>{% if starred %}&#9733;{% else %}&#9734;{% endif %}</span>
            {% endfor %}
        </td>
    </tr>
    {% if brew.comment %}
    <tr>
        <td>Комментарий</td><td>{{ brew.comment }}</td>
    </tr>
    {% endif %}
</table>

{% if brew.found_descriptors.count > 0 %}
<p>Дескрипторы:</p>
<ul>
{% for descriptor in brew.found_descriptors.all %}
<li>{{ descriptor }}</li>
{% endfor %}
</ul>
{% endif %}
{% csrf_token %}
<script>
$(".rating-stars span").click(function() {
    var rating = $(this).index() + 1;
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    $.ajax({
        url: "{% url 'brew-rate' brew.id %}",
        type: "POST",
        dataType: "text",
        data: "csrfmiddlewaretoken=" + csrf_token + "&rating="+rating,
        success: function(response) {
            if (response == "ok") {
                $(".rating-stars span").each(function(index, elem) {
                    if (index < rating) {
                        $(elem).html("&#9733;");
                    }
                    else {
                        $(elem).html("&#9734;");
                    }
                });
            }
        },

    });
});
</script>
{% endblock %}
