<table class="table table-striped brew-list">
    <thead>
        <tr>
            <th><a href="{{ request.path }}?sort={% if order != "-datetime" %}-{% endif %}datetime">
                    <span class="hidden-xs hidden-sm">&nbsp; Дата и время</span><span class="visible-xs visible-sm">Время</span></a>
            </th>
            {% if not hide_barista %}
            <th class="hidden-xs hidden-sm">Бариста</th>
            {% endif %}
            {% if not hide_coffee %}
            <th>Кофе</th>
            {% endif %}
            {% if not hide_method %}
            <th>Метод</th>
            {% endif %}
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-temperature" %}-{% endif %}temperature">t &deg;C</a></th>
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-grinder_setting" %}-{% endif %}grinder_setting">Помол</a></th>
            {% if not hide_water %}
            <th class="hidden-xs hidden-sm hidden-md">Вода</th>
            {% endif %}
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-coffee_weight" %}-{% endif %}coffee_weight">Вес</a></th>
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-brew_time" %}-{% endif %}brew_time">Время</th>
            <th><a href="{{ request.path }}?sort={% if order != "-rating" %}-{% endif %}rating">Оценка</th>
        </tr>
    </thead>
    <tbody>
        {% for brew in brews %}
        <tr>
            <td><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm">{{ brew.barista }}</td>
            {% endif %}
            {% if not hide_coffee %}
            <td><a href="{{ brew.coffee_bag.get_absolute_url }}">
                    {% if show_date_only_name %}
                    {{ brew.coffee_bag.get_date_only_name }}
                    {% else %}
                    {{ brew.coffee_bag.coffee.name }}
                    {% if brew.show_roast_profile and brew.coffee_bag.coffee.roast_profile %}
                    {{ brew.coffee_bag.coffee.roast_profile }}
                    {% endif %}
                    {% endif %}
                </a></td>
            {% endif %}
            {% if not hide_method %}
            <td><a href="{{ brew.method.get_absolute_url }}">{{ brew.method }}</a></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{% if brew.temperature %}{{ brew.temperature }}{% endif %}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_grinder_setting_display }}</td>
            {% if not hide_water %}
            <td class="hidden-xs hidden-sm hidden-md"><a href="{{ brew.water.get_absolute_url }}">{{ brew.water }}</a></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{{ brew.get_coffee_weight_display }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_brew_time_display }}</td>
            <td {% if brew.rating >= 8 %}class="rating_best"{% endif %}>
                {% if brew.rating %}
                {{ brew.rating }}/{{ brew.RATING_MAX }}
                {% if max_rating and brew.rating == max_rating %}&#9734;{% endif %}
                {% else %}-
                {% endif %}</td>
        </tr>
        {% endfor %}
        {% if not ajax_list %}
        <tr>
            <td></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm"></td>
            {% endif %}
            {% if not hide_coffee %}
            <td></td>
            {% endif %}
            {% if not hide_method %}
            <td></td>
            {% endif %}
            <td class="hidden-xs hidden-sm"></td>
            <td class="hidden-xs hidden-sm"></td>
            {% if not hide_water %}
            <td class="hidden-xs hidden-sm hidden-md"></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{{ brews.get_total_weight }}g</td>
            <td class="hidden-xs hidden-sm"></td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>
