<table class="table table-striped">
    <thead>
        <tr>
            <th><span class="hidden-xs hidden-sm">&nbsp; Дата и время</span><span class="visible-xs visible-sm">Время</span></th>
            {% if not hide_barista %}
            <th class="hidden-xs hidden-sm">Бариста</th>
            {% endif %}
            {% if not hide_coffee %}
            <th>Кофе</th>
            {% endif %}
            {% if not hide_method %}
            <th>Метод</th>
            {% endif %}
            <th class="hidden-xs hidden-sm">t &deg;C</th>
            <th class="hidden-xs hidden-sm">Помол</th>
            {% if not hide_water %}
            <th class="hidden-xs hidden-sm hidden-md">Вода</th>
            {% endif %}
            <th class="hidden-xs hidden-sm">Вес</th>
            <th class="hidden-xs hidden-sm">Время</th>
            <th>Оценка</th>
        </tr>
    </thead>
    <tbody>
        {% for brew in brews %}
        <tr>
            <td><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm">{{ brew.barista }}</td>
            {% endif %}
            {% if not hide_coffee %}
            <td><a href="{{ brew.coffee_bag.get_absolute_url }}">
                    {% if show_date_only_name %}
                    {{ brew.coffee_bag.get_date_only_name }}
                    {% else %}
                    {{ brew.coffee_bag.coffee.name }}
                    {% if brew.show_roast_profile and brew.coffee_bag.coffee.roast_profile %}
                    {{ brew.coffee_bag.coffee.roast_profile }}
                    {% endif %}
                    {% endif %}
                </a></td>
            {% endif %}
            {% if not hide_method %}
            <td><a href="{{ brew.method.get_absolute_url }}">{{ brew.method }}</a></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{{ brew.temperature }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.grinder_setting }}</td>
            {% if not hide_water %}
            <td class="hidden-xs hidden-sm hidden-md"><a href="{{ brew.water.get_absolute_url }}">{{ brew.water }}</a></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{{ brew.get_coffee_weight_display }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_brew_time_display }}</td>
            <td {% if brew.rating >= 8 %}class="rating_best"{% endif %}>
                {% if brew.rating %}
                {{ brew.rating }}/{{ brew.RATING_MAX }}
                {% if max_rating and brew.rating == max_rating %}&#9734;{% endif %}
                {% else %}-
                {% endif %}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm"></td>
            {% endif %}
            {% if not hide_coffee %}
            <td></td>
            {% endif %}
            {% if not hide_method %}
            <td></td>
            {% endif %}
            <td class="hidden-xs hidden-sm"></td>
            <td class="hidden-xs hidden-sm"></td>
            {% if not hide_water %}
            <td class="hidden-xs hidden-sm hidden-md">{{ brew.water }}</td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{{ brews.get_total_weight }}g</td>
            <td class="hidden-xs hidden-sm"></td>
            <td></td>
        </tr>
    </tbody>
</table>
