<table class="table table-striped brew-list">
    <thead>
        <tr>
            <th><a href="{{ request.path }}?sort={% if order != "-datetime" %}-{% endif %}datetime">
                    <span class="hidden-xs hidden-sm">&nbsp; Дата и время</span><span class="visible-xs visible-sm">Время</span></a>
            </th>
            {% if not hide_barista %}
            <th class="hidden-xs hidden-sm">Бариста</th>
            {% endif %}
            {% if not hide_coffee %}
            <th>Кофе</th>
            {% endif %}
            {% if not hide_method %}
            <th>Метод</th>
            {% endif %}
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-temperature" %}-{% endif %}temperature">t &deg;C</a></th>
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-grinder_setting" %}-{% endif %}grinder_setting">Помол</a></th>
            <th class="hidden-xs hidden-sm hidden-md">{% if hide_water %}TDS воды{% else %}Вода{% endif %}</th>
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-coffee_weight" %}-{% endif %}coffee_weight">Вес</a></th>
            <th class="hidden-xs hidden-sm"><a href="{{ request.path }}?sort={% if order != "-brew_time" %}-{% endif %}brew_time">Время<a/></th>
            <th class="hidden-xs hidden-sm" title="Экстракция">Экс.</th>
            <th><a href="{{ request.path }}?sort={% if order != "-rating" %}-{% endif %}rating">Оценка</th>
        </tr>
    </thead>
    <tbody>
        {% for brew in brews %}
        <tr>
            <td><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm">{% if brew.barista %}{{ brew.barista }}{% endif %}</td>
            {% endif %}
            {% if not hide_coffee %}
            <td><a href="{{ brew.coffee_bag.get_absolute_url }}">
                    {% if show_date_only_name %}
                    {{ brew.coffee_bag.get_date_only_name }}
                    {% else %}
                    {{ brew.coffee_bag.coffee.name }}
                    {% if brew.show_roast_profile and brew.coffee_bag.coffee.roast_profile %}
                    {{ brew.coffee_bag.coffee.roast_profile }}
                    {% endif %}
                    {% endif %}
                </a></td>
            {% endif %}
            {% if not hide_method %}
            <td><a href="{{ brew.method.get_absolute_url }}">{{ brew.method }}</a></td>
            {% endif %}
            <td class="hidden-xs hidden-sm">{% if brew.temperature %}{{ brew.temperature }}{% endif %}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_grinder_setting_display }}</td>
            <td class="hidden-xs hidden-sm hidden-md">
            {% if hide_water %}
                {% if brew.water_tds %}{{ brew.water_tds }}{% endif %}
            {% else %}
                {% if brew.water %}
                <a href="{{ brew.water.get_absolute_url }}">{{ brew.water }}</a>
                {% if brew.water_tds %}({{ brew.water_tds }}){% endif %}
                {% endif %}
            {% endif %}
            </td>
            <td class="hidden-xs hidden-sm">{{ brew.get_coffee_weight_display }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_brew_time_display }}</td>
            <td class="hidden-xs hidden-sm">
                {% if brew.extraction_is_set %}
                <span title="{{ brew.get_extraction_display }}">{{ brew.get_extraction_symbol|safe }}</span>
                {% endif %}
            </td>
            <td {% if brew.rating >= 8 %}class="rating_best"{% endif %}>
                {% if brew.rating %}
                {{ brew.rating }}/{{ brew.RATING_MAX }}
                {% if max_rating and brew.rating == max_rating %}&#9734;{% endif %}
                {% else %}-
                {% endif %}</td>
        </tr>
        {% endfor %}
        {% if not ajax_list %}
        <tr>
            <td></td>
            {% if not hide_barista %}
            <td class="hidden-xs hidden-sm"></td>
            {% endif %}
            {% if not hide_coffee %}
            <td></td>
            {% endif %}
            {% if not hide_method %}
            <td></td>
            {% endif %}
            <td class="hidden-xs hidden-sm"></td>
            <td class="hidden-xs hidden-sm"></td>
            <td class="hidden-xs hidden-sm hidden-md"></td>
            <td class="hidden-xs hidden-sm">{{ brews.get_total_weight }}g</td>
            <td class="hidden-xs hidden-sm"></td>
            <td class="hidden-xs hidden-sm"></td>
            <td></td>
        </tr>
        {% endif %}
    </tbody>
</table>
<script>
    var brew_offset = $(".brew-list tbody>tr").length;
    var more_brews = true;
    var sort = (location.search.split("sort=")[1] || "").split("&")[0];

    var ajax_url = {% if ajax_url %}"{{ ajax_url }}"{% else %}location.pathname{% endif %};
    var hide_method = {% if hide_method %}true{% else %}false{% endif %};
    var hide_barista = {% if hide_barista %}true{% else %}false{% endif %};
    var hide_water = {% if hide_water %}true{% else %}false{% endif %};
    var hide_coffee = {% if hide_coffee %}true{% else %}false{% endif %};

    $(window).scroll(function(){
        if($(window).scrollTop() == $(document).height() - $(window).height() && more_brews) {
            $.ajax({
                url: ajax_url + "?offset=" + brew_offset + "&sort=" + sort + "&json=1",
                dataType: "json",
                success: function(response) {
                    if (response.error) {
                        return;
                    }

                    if (!response.brews || response.brews.length == 0) {
                        more_brews = false;
                        var total_weight = 0;

                        hide_flags = [hide_method, hide_water, hide_barista, hide_coffee];
                        total_weight_cell = 7;
                        var total_cells = 11;
                        $.each(hide_flags, function(i, flag_val) {
                            if (flag_val) {
                                total_weight_cell--;
                                total_cells--;
                            }
                        });

                        $(".brew-list tbody>tr").each(function(_, row) {
                            var weight = parseInt($(row).children("td").eq(total_weight_cell).text());
                            if (weight) {
                                total_weight += weight;
                            }
                        });
                        var total_row = $("<tr>");
                        var i;

                        for (i = 0; i < total_cells; i++) {
                            var td = $("<td>");
                            if (i == 0) {
                                td.addClass("hidden-md");
                            }
                            if (i < 4 || (i >= total_weight_cell && i < total_cells - 1) ) {
                                td.addClass("hidden-xs").addClass("hidden-sm");
                            }
                            if (i == total_weight_cell) {
                                td.text(total_weight + "g");
                            }
                            total_row.append(td);
                        }

                        $(".brew-list tbody").append(total_row);
                        return;
                    }
                    var tbody = $(".brew-list tbody");

                    $.each(response.brews, function(index, brew) {
                        $("<tr>").html("<td><a href='" + brew.url + "'>" + brew.datetime + "</a></td>" +
                            (hide_barista ? "" : "<td class='hidden-xs hidden-sm'>" + brew.barista  + "</td>") +
                            "<td><a href='" + brew.bag_url + "'>" + brew.bag + "</a></td>" +
                            (hide_method ? "" : "<td><a href='" + brew.method_url + "'>" + brew.method + "</a></td>") +
                            "<td class='hidden-xs hidden-sm'>" + (brew.temperature?brew.temperature:"") + "</td>" +
                            "<td class='hidden-xs hidden-sm'>" + brew.grinder_setting + "</td>" +
                            (hide_water ? "" : "<td class='hidden-xs hidden-sm hidden-md'><a href='" + brew.water_url + "'>" +  brew.water + "</a></td>") +
                            "<td class='hidden-xs hidden-sm'>" + (brew.coffee_weight?brew.coffee_weight + "g":"") + "</td>" +
                            "<td class='hidden-xs hidden-sm'>" + (brew.brew_time?brew.brew_time:"") + "</td>" +
                            "<td class='hidden-xs hidden-sm'>" + 
                            (brew.extraction_symbol?"<span title='" + brew.extraction_display + "'>" + brew.extraction_symbol + "</span>":"") + "</td>" +
                            "<td " + (brew.rating >= 8 ? "class='rating_best'" : "") + ">" + (brew.rating ? brew.rating + "/10" : "") + "</td>"
                        ).appendTo(tbody);
                        brew_offset += 1;
                    });
                }
            });
        }
    });
</script>
