{% extends "coffee/base.html" %}
{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'coffee:index' %}">Главная</a></li><li>&rarr;</li>
    <li><a href="{% url 'coffee:all-bags' %}">Кофе</a></li><li>&rarr;</li>
    <li><a href="{{ brew.coffee_bag.get_absolute_url }}">{{ brew.coffee_bag.coffee.get_short_name }}</a></li><li>&rarr;</li>
    <li><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></li>
</ul>
<h3>{{ brew.coffee_bag.coffee.name }}, {{ brew.datetime }}</h3>

{% if request.user.is_authenticated %}
<div class="edit-link">
    <a href="{% url 'coffee:brew-edit' brew.id %}">Edit</a> |
    <a href="{% url 'coffee:brew-copy' brew.id %}">Copy</a>
</div>
{% endif %}

<table class="table">
    <tr>
        <td>Кофе</td><td><a href="{{ brew.coffee_bag.get_absolute_url }}">{{ brew.coffee_bag.coffee.name }}</a></td>
    </tr>
    {% if brew.coffee_bag.coffee.roast_profile %}
    <tr>
        <td>Обжарка</td><td>{{ brew.coffee_bag.coffee.roast_profile }}</td>
    </tr>
    {% endif %}
    {% if brew.coffee_bag.roast_date %}
    <tr>
        <td>Дата обжарки</td><td>{{ brew.coffee_bag.roast_date }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Бариста</td><td>{{ brew.barista }}</td>
    </tr>
    <tr>
        <td>Помол{% if brew.grinder %} ({{ brew.grinder }}){% endif %}</td><td>{% if brew.grinder_setting %}{{ brew.grinder_setting }}{% endif %}</td>
    </tr>
    <tr>
        <td>Способ заваривания</td><td><a href="{{ brew.method.get_absolute_url }}">{{ brew.method }}</a></td>
    </tr>
    {% if brew.filter %}
    <tr>
        <td>Фильтр</td><td>{{ brew.filter }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Вода</td><td><a href="{{ brew.water.get_absolute_url }}">{{ brew.water }}</a></td>
    </tr>
    <tr>
        <td>t &deg;C</td><td>{% if brew.temperature %}{{ brew.temperature }}{% endif %}</td>
    </tr>
    <tr>
        <td>Вес</td><td>{% if brew.coffee_weight %}{{ brew.coffee_weight }}г{% endif %}</td>
    </tr>
    <tr>
        <td>Объём воды</td><td>{% if brew.water_volume %}{{ brew.water_volume }}мл{% endif %}</td>
    </tr>
    {% if brew.result_volume %}
    <tr>
        <td>Объём напитка</td><td>{{ brew.result_volume }}мл</td>
    </tr>
    {% endif %}
    <tr>
        <td>Время</td><td>{% if brew.brew_time %}{{ brew.get_brew_time_display }}{% endif %}</td>
    </tr>
    <tr>
        <td>Цветение</td><td>{{ brew.get_bloom_display }}</td> 
    </tr>
    {% for pouring in brew.pouring_set.all %}
    <tr>
        <td>Пролив #{{ pouring.order }}</td><td>{{ pouring.volume }}мл{% if pouring.wait_time %} (подождать {{ pouring.wait_time }} сек){% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>Оценка</td><td class="rating-stars">
            {% for starred in brew.get_rating_stars %}
            <span>{% if starred %}&#9733;{% else %}&#9734;{% endif %}</span>
            {% endfor %}
        </td>
    </tr>
    {% if brew.comment %}
    <tr>
        <td>Комментарий</td><td>{{ brew.comment }}</td>
    </tr>
    {% endif %}
</table>

{% if brew.found_descriptors.count > 0 %}
<p>Дескрипторы:</p>
<ul>
{% for descriptor in brew.found_descriptors.all %}
<li><a href="{{ descriptor.get_absolute_url }}">{{ descriptor }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% csrf_token %}
{% if request.user.is_authenticated %}
<script>
$(".rating-stars span").click(function() {
    var rating = $(this).index() + 1;
    var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
    $.ajax({
        url: "{% url 'coffee:brew-rate' brew.id %}",
        type: "POST",
        dataType: "text",
        data: "csrfmiddlewaretoken=" + csrf_token + "&rating="+rating,
        success: function(response) {
            if (response == "ok") {
                $(".rating-stars span").each(function(index, elem) {
                    if (index < rating) {
                        $(elem).html("&#9733;");
                    }
                    else {
                        $(elem).html("&#9734;");
                    }
                });
            }
        },

    });
});
</script>
{% endif %}
{% endblock %}
