{% extends "coffee/base.html" %}
{% load static %}
{% block content %}
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<ul class="breadcrumbs">
    <li><a href="{% url 'coffee:index' %}">Главная</a></li><li>&rarr;</li>
    <li><a href="{% url 'coffee:all-bags' %}">Кофе</a></li><li>&rarr;</li>
    <li><a href="{{ bag.get_absolute_url }}">{{ bag.coffee.get_short_name }}</a></li>
</ul>
<div class="bag-details-subheader">
    {% if bag.thumbnail %}
    <div class="bag-thumb" id="bag-thumb">
        <a href="{{ bag.image.url }}" data-gallery><img src="{{ bag.thumbnail.url }}"></a>
    </div>
    {% endif %}
    <div class="bag-name-block">
        <h3>{{ bag.coffee.name }}</h3>
        <ul class="bag-details">
            <li><span class="param-name">Обжарщик:</span> <a href="{{ bag.coffee.roaster.get_absolute_url }}">{{ bag.coffee.roaster }}</a></li>
            <li><span class="param-name">Обжарка:</span> {% if bag.coffee.roast_profile %}{{ bag.coffee.roast_profile }}{% else %}-{% endif %}</li>
            <li><span class="param-name">Вес:</span> {{ bag.get_weight_display }}</li>
            <li><span class="param-name">Дата обжарки:</span> {% if bag.roast_date %}{{ bag.roast_date }}{% else %}-{% endif %}</li>
            <li><span class="param-name">Дата приобретения:</span> {{ bag.purchase_date }}</li>
            {% if bag.end_date %}
            <li><span class="param-name">Дата окончания:</span> {{ bag.end_date }}</li>
            {% endif %}
            {% if bag.coffee.roaster_comment %}
            <li><span class="param-name">Комментарий обжарщика:</span>{{ bag.coffee.roaster_comment }}</li>
            {% endif %}
            {% if all_descriptors %}
            <li><span class="param-name">Дескрипторы:</span>
                {% for descriptor in all_descriptors %}
                <a href="{{ descriptor.get_absolute_url }}">{{ descriptor }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </li>
            {% endif %}
            {% if bag_descriptors %}
            <li><span class="param-name">В этой пачке:</span>
                {% for descriptor in bag_descriptors %}
                <a href="{{ descriptor.get_absolute_url }}">{{ descriptor }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% if bag.extra_pictures.count %}
<div class="bag-extra-pictures">
    {% for pic in bag.extra_pictures.all %}
    <div class="bag-thumb">
        <a href="{{ pic.image.url }}" data-gallery><img src="{{ pic.thumbnail.url }}"></a>
    </div>
    {% endfor %}
</div>
{% endif %}


{% if request.user.is_authenticated %}
<p>
<a href="{% url 'coffee:brew-create-for-bag' bag.id %}">Add brew</a>
</p>
{% endif %}
        <script type="text/javascript" src="{% static "js/blueimp-gallery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.blueimp-gallery.js" %}"></script>
{% endblock %}

{% block brew_list %}
{% include "coffee/brew_list.html" %}
{% endblock %}

{% block after_brew_list_content %}
<div class="content-wrapper">
    {% if other_bags %}
    <h4>Другие пачки кофе {{ bag.coffee.name }}</h4>
        {% include "coffee/bag_list.html" with bags=other_bags %}
    {% endif %}
</div>
{% endblock %}
{% block extra_css %}
        <link rel="stylesheet" href="{% static "css/blueimp-gallery.css" %}">
{% endblock %}
