
{% extends "coffee/base.html" %}
{% block content %}
<h3>{{ coffee.name }}</h3>

<table class="table">
    <tr>
        <td>Roaster</td>
        <td>{{ coffee.roaster }}</td>
    </tr>
    <tr>
        <td>Bags purchased</td>
        <td>{{ bag_count }}</td>
    </tr>
    <tr>
        <td>Roaster comment</td>
        <td>{{ coffee.roaster_comment }}</td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date &amp; time</th>
            {% if bag_count > 1 %}
            <th>Bag</th>
            {% endif %}
            <th>Method</th>
            <th>t &deg;C</th>
            <th>Grinder</th>
            <th>Coffee weight</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for brew in brews %}
        <tr>
            <td><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></td>
            {% if bag_count > 1 %}
            <td><a href="{{ brew.coffee_bag.get_absolute_url }}">
                    {% if brew.coffee_bag.roast_date %}
                    Roasted on {{ brew.coffee_bag.roast_date }}
                    {% else %}
                    Purchased on {{ brew.coffee_bag.purchase_date }}
                    {% endif %}
            </a></td>
            {% endif %}
            <td>{{ brew.method }}</td>
            <td>{{ brew.temperature }}</td>
            <td>{{ brew.grinder_setting }}</td>
            <td>{{ brew.get_coffee_weight_display }}</td>
            <td {% if brew.rating >= 8 %}class="rating_best"{% endif %}>{{ brew.rating }}/{{ brew.RATING_MAX }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
