{% extends "coffee/base.html" %}
{% block content %}
<h3>{{ bag }}</h3>

<p>
<a href="{% url 'brew-create-for-bag' bag.id %}">Add brew</a>
</p>
<table class="table">
    <tr>
        <td>Coffee:</td><td><a href="{{ bag.coffee.get_absolute_url }}">{{ bag.coffee }}</a></td>
    </tr>
    <tr>
        <td>Roast date:</td><td>{% if bag.roast_date %}{{ bag.roast_date }}{% else %}-{% endif %}</td>
    </tr>
    <tr>
        <td>Purchase date:</td><td>{{ bag.purchase_date }}</td>
    </tr>
    {% if bag.end_date %}
    <tr>
        <td>End date:</td><td>{{ bag.end_date }}</td>
    </tr>
    {% endif %}
</table>

{% include "coffee/brew_list.html" %}
{% endblock %}
