{% extends "coffee/base.html" %}
{% block content %}
<h2>Ноты (дескрипторы)</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Сколько раз найден</th>
        </tr>
    </thead>
    <tbody>
        {% for descriptor in descriptors %}
        <tr>
            <td><a href="{{ descriptor.get_absolute_url }}">{{ descriptor.name }}</a></td>
            <td>{{ descriptor.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
