{% extends "coffee/base.html" %}
{% load static %}
{% block extra_css %}
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
{% endblock %}
{% block extra_js %}
        <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
{% endblock %}
{% block content %}
<form action="" method="post" id="brew-form">
{% csrf_token %}
<div class="row">
    <div class="col-xs-4">
        {{ form.datetime.errors }}
        {{ form.datetime.label_tag }}
        {{ form.datetime }}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {{ form.coffee_bag.errors }}
        {{ form.coffee_bag.label_tag }}
        {{ form.coffee_bag }}
    </div>

</div>
<div class="row">
    <ul class="coffee-bags coffee-bag-selection">
        {% for bag in bags %}
        <li bag_id="{{ bag.id }}" title="{{ bag. }}">
            <div class="bag-image">
                {% if bag.thumbnail %}
                <img src="{{ bag.thumbnail.url }}">
                {% else %}
                <img src="{% static "images/generic-bag-small.png" %}">
                {% endif %}
            </div>
            <div class="bag-name">{% if bag.coffee.short_name %}{{ bag.coffee.short_name }}{% else %}{{ bag.coffee.name }}{% endif %}</div>
            <div class="bag-weight">{{ bag.get_weight_display }}</div>
            <div class="bag-roaster">{{ bag.coffee.roaster.name }}</div>
            <a class="bag-link" href="{{ bag.get_absolute_url }}">{{ bag.coffee.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col-sm-4">
        {{ form.method.errors }}
        {{ form.method.label_tag }}
        {{ form.method }}
    </div>
    <div class="col-sm-2">
        {{ form.filter.errors }}
        {{ form.filter.label_tag }}
        {{ form.filter }}
    </div>
    <div class="col-sm-2">
        {{ form.grinder.errors }}
        {{ form.grinder.label_tag }}
        {{ form.grinder }}
    </div>
    <div class="col-sm-4">
        {{ form.barista.errors }}
        {{ form.barista.label_tag }}
        {{ form.barista }}
    </div>
</div>
<div class="row sliders-wrap">
    <div class="col-sm-4">
        {{ form.grinder_setting.errors }}
        {{ form.grinder_setting.label_tag }}
        {{ form.grinder_setting }}
    </div>
    <div class="col-sm-4">
        {{ form.temperature.errors }}
        {{ form.temperature.label_tag }}
        {{ form.temperature }}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {{ form.coffee_weight.errors }}
        {{ form.coffee_weight.label_tag }}
        {{ form.coffee_weight }}
    </div>
    <div class="col-sm-4">
        {{ form.water_volume.errors }}
        {{ form.water_volume.label_tag }}
        {{ form.water_volume }}
        <br />
        {{ form.result_volume.errors }}
        {{ form.result_volume.label_tag }}
        {{ form.result_volume }}
    </div>
    <div class="col-sm-4">
        {{ form.brew_time.errors }}
        {{ form.brew_time.label_tag }}
        {{ form.brew_time }}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        {{ form.bloom.errors }}
        {{ form.bloom.label_tag }}
        {{ form.bloom }}
    </div>
    <div class="col-sm-4">
        {{ form.water.errors }}
        {{ form.water.label_tag }}
        {{ form.water }}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
    {{ form.found_descriptors.errors }}
    {{ form.found_descriptors.label_tag }}
    {{ form.found_descriptors }}
    </div>
    <div class="col-sm-4">
        {{ form.comment.errors }}
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>
    <div class="col-sm-4">
        {{ pouring_formset.management_form }}
        <ul id="pouring_formset_wrap">
            {% for pouring_form in pouring_formset %}
            <li id="pouring-{{ pouring_form.prefix }}">
                {{ pouring_form.id }}
                {{ pouring_form.volume }}
                {{ pouring_form.wait_time }}
                <span class="remove-pouring">remove</span>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
    {{ form.rating.errors }}
    {{ form.rating.label_tag }}
    {{ form.rating }}
    </div>
    <div class="col-sm-6 extraction-select-wrap">
    {{ form.extraction.errors }}
    {{ form.extraction.label_tag }}
    {{ form.extraction }}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>

</form>
<script>
var make_slider = function(input_id, min, max, allow_none) {
    var slider = $("<div>");
	var handle = $("<div>").addClass("ui-slider-handle").addClass("custom-slider-handle");
    handle.appendTo(slider);
    var init_value = $(input_id).val();
    var is_unknown = !init_value;

    $(input_id).after(slider);
    slider.slider({
        min: min,
        max: max,
        value: is_unknown ? "" : parseInt(init_value),
        slide: function(event, ui) {
            $(input_id).val(ui.value);
		    handle.text( ui.value );
        },
		create: function() {
			handle.text($(this).slider("value"));
		}
    });

    if (allow_none) {
        var toggle = $("<input type='checkbox'>").change(function() {
            if ($(this).is(":checked")) {
                slider.slider("option", "disabled", true);
                $(input_id).val("");
            }
            else {
                slider.slider("option", "disabled", false);
                $(input_id).val(slider.slider("option", "value"));
            }
        });

        slider.after($("<label>").append(toggle).append("<span> unknown</span>"));

        if (is_unknown) {
            toggle.prop("checked", true).trigger("change");
        }
    }

    $(input_id).change(function() {
        slider.slider("value", $(this).val());
    }).hide();
}

var duration_to_seconds = function(duration) {
    var split = duration.split(":");
    var hours = 0, minutes, seconds;
    switch (split.length) {
        case 3:
            hours = parseInt(split[0]);
            minutes = parseInt(split[1]);
            seconds = parseInt(split[2]);
            break;
        case 2:
            minutes = parseInt(split[0]);
            seconds = parseInt(split[1]);
            break;
        default:
            return null;
    }

    return hours * 3600 + minutes * 60 + seconds;
}

var seconds_to_duration = function(total_seconds) {
    var hours = parseInt(total_seconds / 3600);
    var minutes = parseInt((total_seconds % 3600) / 60);
    var seconds = total_seconds % 60;

    var leadingZero = "";
    if (seconds < 10) {
        leadingZero = "0";
    }
    var duration_str = "";

    if (hours > 0) {
        duration_str += hours + ":";

        if (minutes < 10) {
            duration_str += "0";
        }
    }

    duration_str += minutes + ":";

    if (seconds < 10) {
        duration_str += "0";
    }

    duration_str += seconds;

    return duration_str;
}

var add_duration_adjust = function(input_id, adjust_value, display_value) {
    $("<div>").addClass("duration-adjust").html(display_value).appendTo($(input_id).parent().children(".duration-adjust-wrap")).click(function(){
        var value = $(input_id).val();
        if (value == "") {
            value = "0:00";
        }
        var seconds = duration_to_seconds(value);
        if (seconds === null) {
            return;
        }

        var new_value = seconds + adjust_value;
        if (new_value < 0) {
            new_value = 0;
        }

        $(input_id).val(seconds_to_duration(new_value));
    }).mousedown(function(e) {
        e.preventDefault();
    });
}

var make_duration_input = function(input_id) {
    $("<div>").addClass("duration-adjust-wrap").appendTo($(input_id).parent());
    add_duration_adjust(input_id, -3600, "-1h");
    add_duration_adjust(input_id, -60, "-1m");
    add_duration_adjust(input_id, -10, "-10s");
    add_duration_adjust(input_id, -1, "-1s");
    add_duration_adjust(input_id, 1, "+1s");
    add_duration_adjust(input_id, 10, "+10s");
    add_duration_adjust(input_id, 60, "+1m");
    add_duration_adjust(input_id, 3600, "+1h");
}

var format_datetime = function(datetime) {
    var dateString = datetime.getFullYear().toString() + "-";
    var month = datetime.getMonth() + 1;

    if (month < 10) {
        dateString += "0";
    }

    dateString += month.toString() + "-"

    if (datetime.getDate() < 10) {
        dateString += "0";
    }

    dateString += datetime.getDate().toString() + " ";

    if (datetime.getHours() < 10) {
        dateString += "0";
    }

    dateString += datetime.getHours().toString() + ":";

    if (datetime.getMinutes() < 10) {
        dateString += "0";
    }

    dateString += datetime.getMinutes().toString() + ":";

    if (datetime.getSeconds() < 10) {
        dateString += "0";
    }

    dateString += datetime.getSeconds().toString();

    return dateString;
}

var add_datetime_adjust = function(input_id, adjust_value, display_value) {
    $("<div>").addClass("duration-adjust").html(display_value).appendTo($(input_id).parent().children(".duration-adjust-wrap")).click(function() {
        var value = $(input_id).val();
        var datetime;

        if (value == "") {
            value = new Date().toString();
            datetime = new Date();
        }
        else {
            datetime = new Date(Date.parse(value));
        }

        datetime.setSeconds(datetime.getSeconds() + adjust_value);

        $(input_id).val(format_datetime(datetime));
    }).mousedown(function(e) {
        e.preventDefault();
    });
}

var make_datetime_input = function(input_id) {
    $("<div>").addClass("now-button").html("now").appendTo($(input_id).parent()).click(function() {
        $(input_id).val(format_datetime(new Date()));
    }).mousedown(function(e) {
        e.preventDefault();
    });

    $("<div>").addClass("duration-adjust-wrap").appendTo($(input_id).parent());
    add_datetime_adjust(input_id, -3600, "-1h");
    add_datetime_adjust(input_id, -60, "-1m");
    add_datetime_adjust(input_id, -10, "-10s");
    add_datetime_adjust(input_id, -1, "-1s");
    add_datetime_adjust(input_id, 1, "+1s");
    add_datetime_adjust(input_id, 10, "+10s");
    add_datetime_adjust(input_id, 60, "+1m");
    add_datetime_adjust(input_id, 3600, "+1h");
}

var add_pouring_form = function() {
    var total_forms = parseInt($("#id_form-TOTAL_FORMS").val()) || 0;
    var next_form_id = total_forms;
    var field_prefix = "form-" + next_form_id + "-";
    var id_prefix = "id_" + field_prefix;
    var wrap = $("#pouring_formset_wrap");
    var new_li = $("<li>").attr("id", "pouring-form-" + next_form_id);
    $("<input type='number' id='" + id_prefix + "volume' name='" + field_prefix + "volume'>").appendTo(new_li);
    $("<input type='number' id='" + id_prefix + "wait_time' name='" + field_prefix + "wait_time'>").appendTo(new_li);
    $("<span>").addClass("remove-pouring").text("remove").appendTo(new_li).click(remove_pouring);
    new_li.appendTo(wrap);
    $("#id_form-TOTAL_FORMS").val(total_forms + 1);
}

var remove_pouring = function() {
    var parent = $(this).parent();
    var form_id = parent.attr("id").match(/[0-9]+/)[0];
    var has_id = false;
    if (parent.find("[name=form-" + form_id + "-id]").val()) {
        $("<input name='form-" + form_id + "-DELETE' type='hidden' value='on'>").appendTo(parent);
        parent.hide();
    }
    else {
        parent.remove();
        var total_forms = parseInt($("#id_form-TOTAL_FORMS").val()) || 0;
        if (total_forms > 0) {
            $("#id_form-TOTAL_FORMS").val(total_forms - 1);
        }
    }
}

var select_bag = function(bag_item, input_id) {
    var bag_id = $(bag_item).attr("bag_id");

    $(".coffee-bag-selection li").removeClass("selected");
    $(bag_item).addClass("selected");
    $(input_id).val(bag_id).change();

    var bag_link_tag = $(bag_item).find(".bag-link");
    var bag_link = bag_link_tag.attr("href");
    var bag_name = bag_link_tag.text();

    $(input_id).parent()
        .find(".selected-bag-link")
        .attr("href", bag_link)
        .text(bag_name);
}

var upgrade_coffee_bag_widget = function(input_id) {
    $("<a>").addClass("selected-bag-link").appendTo($(input_id).parent());
    $(input_id).hide();
    var initial_val = $(input_id).val();

    $(".coffee-bag-selection li").each(function() {
        var bag_id = $(this).attr("bag_id");
        if (bag_id == initial_val) {
            select_bag(this, input_id);
        }
    }).click(function() {
        select_bag(this, input_id);
        /*var bag_id = $(this).attr("bag_id");

        $(".coffee-bag-selection li").removeClass("selected");
        $(this).addClass("selected");
        $(input_id).val(bag_id).change();

        var bag_link_tag = $(this).find(".bag-link");
        var bag_link = bag_link_tag.attr("href");
        var bag_name = bag_link_tag.text();

        $(input_id).parent()
            .find(".selected-bag-link")
            .attr("href", bag_link)
            .text(bag_name);*/
    })
}

$(function(){
    make_datetime_input("#id_datetime");
    make_slider("#id_grinder_setting", 1, 50, false);
    make_slider("#id_temperature", 70, 100, true);
    make_slider("#id_coffee_weight", 5, 50, true);
    //make_slider("#id_water_volume", 100, 300);
    make_duration_input("#id_brew_time");
    $("<div>").addClass("pouring-form-button").text("add").insertAfter($("#pouring_formset_wrap")).click(function() {
        add_pouring_form();
    });
    $(".remove-pouring").click(remove_pouring);
    upgrade_coffee_bag_widget("#id_coffee_bag");
});
</script>
{% endblock %}
