{% extends "coffee/base.html" %}
{% load static %}
{% block content %}
<form action="" method="post" id="brew-form">
{% csrf_token %}
<div class="row">
    <div class="col-xs-4">
        {{ form.datetime.label_tag }}
        {{ form.datetime }}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {{ form.coffee_bag.label_tag }}
        {{ form.coffee_bag }}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {{ form.method.label_tag }}
        {{ form.method }}
    </div>
    <div class="col-xs-4">
        {{ form.filter.label_tag }}
        {{ form.filter }}
    </div>
</div>
<div class="row sliders-wrap">
    <div class="col-xs-4">
        {{ form.grinder_setting.label_tag }}
        {{ form.grinder_setting }}
    </div>
    <div class="col-xs-4">
        {{ form.temperature.label_tag }}
        {{ form.temperature }}
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        {{ form.coffee_weight.label_tag }}
        {{ form.coffee_weight }}
    </div>
    <div class="col-xs-4">
        {{ form.water_volume.label_tag }}
        {{ form.water_volume }}
    </div>
    <div class="col-xs-4">
        {{ form.brew_time.label_tag }}
        {{ form.brew_time }}
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        {{ form.bloom.label_tag }}
        {{ form.bloom }}
    </div>
    <div class="col-xs-4">
        {{ form.water.label_tag }}
        {{ form.water }}
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
    {{ form.found_descriptors.label_tag }}
    {{ form.found_descriptors }}
    </div>
    <div class="col-xs-4">
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
    {{ form.rating.label_tag }}
    {{ form.rating }}
    </div>
</div>

<button type="submit" class="btn btn-primary">Save</button>
</form>
<script>
var make_slider = function(input_id, min, max) {
    var slider = $("<div>");
	var handle = $("<div>").addClass("ui-slider-handle").addClass("custom-slider-handle");
    handle.appendTo(slider);

    $(input_id).after(slider);
    slider.slider({
        min: min,
        max: max,
        value: parseInt($(input_id).val()),
        slide: function(event, ui) {
            $(input_id).val(ui.value);
		    handle.text( ui.value );
        },
		create: function() {
			handle.text($(this).slider("value"));
		}
    });
    $(input_id).change(function() {
        slider.slider("value", $(this).val());
    }).hide();
}

var duration_to_seconds = function(duration) {
    var split = duration.split(":");
    if (split.length != 2) {
        return null;
    }

    var minutes = parseInt(split[0]);
    var seconds = parseInt(split[1]);
    return minutes * 60 + seconds;
}

var seconds_to_duration = function(total_seconds) {
    var seconds = total_seconds % 60;

    var leadingZero = "";
    if (seconds < 10) {
        leadingZero = "0";
    }

    return parseInt(total_seconds / 60) + ":" + leadingZero + seconds;
}

var add_duration_adjust = function(input_id, adjust_value, display_value) {
    $("<div>").addClass("duration-adjust").html(display_value).appendTo($(input_id).parent().children(".duration-adjust-wrap")).click(function(){
        var value = $(input_id).val();
        if (value == "") {
            value = "0:00";
        }
        var seconds = duration_to_seconds(value);
        if (seconds === null) {
            return;
        }

        var new_value = seconds + adjust_value;
        if (new_value < 0) {
            new_value = 0;
        }

        $(input_id).val(seconds_to_duration(new_value));
    });
}

var make_duration_input = function(input_id) {
    $("<div>").addClass("duration-adjust-wrap").appendTo($(input_id).parent());
    add_duration_adjust(input_id, -60, "-1m");
    add_duration_adjust(input_id, -10, "-10s");
    add_duration_adjust(input_id, -1, "-1s");
    add_duration_adjust(input_id, 1, "+1s");
    add_duration_adjust(input_id, 10, "+10s");
    add_duration_adjust(input_id, 60, "+1m");
}
$(function(){
    make_slider("#id_grinder_setting", 1, 40);
    make_slider("#id_temperature", 70, 100);
    make_slider("#id_coffee_weight", 10, 40);
    make_duration_input("#id_brew_time");
});
</script>
{% endblock %}
