{% extends "coffee/base.html" %}
{% block content %}
<ul class="coffee-bags">
    {% for bag in bags %}
    <li>
        <div class="bag-name"><a href="{{ bag.get_absolute_url }}">{{ bag.coffee.name }}</a></div>
        <div class="bag-weight">{{ bag.get_weight_display }}</div>
        <div class="bag-roaster">{{ bag.coffee.roaster.name }}</div>
    </li>
    {% endfor %}
</ul>

<p><a href="{% url 'brew-create' %}">Add brew</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date &amp; time</th>
            <th>Coffee</th>
            <th>Method</th>
            <th class="hidden-xs hidden-sm">t &deg;C</th>
            <th class="hidden-xs hidden-sm">Grinder</th>
            <th class="hidden-xs hidden-sm hidden-md">Water</th>
            <th class="hidden-xs hidden-sm">Coffee weight</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for brew in brews %}
        <tr>
            <td><a href="{{ brew.get_absolute_url }}">{{ brew.datetime }}</a></td>
            <td><a href="{{ brew.coffee_bag.get_absolute_url }}">
                    {{ brew.coffee_bag.coffee.name }}
                    {% if brew.show_roast_profile and brew.coffee_bag.coffee.roast_profile %}
                    {{ brew.coffee_bag.coffee.roast_profile }}
                    {% endif %}
                </a></td>
            <td><a href="{{ brew.method.get_absolute_url }}">{{ brew.method }}</a></td>
            <td class="hidden-xs hidden-sm">{{ brew.temperature }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.grinder_setting }}</td>
            <td class="hidden-xs hidden-sm hidden-md">{{ brew.water }}</td>
            <td class="hidden-xs hidden-sm">{{ brew.get_coffee_weight_display }}</td>
            <td {% if brew.rating >= 8 %}class="rating_best"{% endif %}>{% if brew.rating %}{{ brew.rating }}/{{ brew.RATING_MAX }}{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
