{% extends "coffee/base.html" %}
{% block content %}
<ul class="coffee-bags">
    {% for bag in bags %}
    <li>
        {% if bag.thumbnail %}
        <div class="bag-image"><a href="{{ bag.get_absolute_url }}"><img src="{{ bag.thumbnail.url }}"></a></div>
        {% endif %}
        <div class="bag-name"><a href="{{ bag.get_absolute_url }}">{{ bag.coffee.name }}</a></div>
        <div class="bag-weight">{{ bag.get_weight_display }}</div>
        <div class="bag-roaster"><a href="{{ bag.coffee.roaster.get_absolute_url }}">{{ bag.coffee.roaster.name }}</a></div>
    </li>
    {% endfor %}
</ul>
<div class="show-more-coffee">Развернуть</div>

<p>
<a href="{% url 'brew-create' %}">Add brew</a>
</p>
{% include "coffee/brew_list.html" %}
<script>
$(function() {
    var expanded = false;
    $(".show-more-coffee").click(function() {
        if (expanded) {
            $(".coffee-bags").animate({
                height: 240
            },
            {
                complete: function() {
                    expanded = false;
                    $(".show-more-coffee").text("Развернуть");
                }
            });
        }
        else {
            var full_height = $(".coffee-bags")[0].scrollHeight;
            $(".coffee-bags").animate({
                height: full_height
            },
            {
                complete: function() {
                    expanded = true;
                    $(".show-more-coffee").text("Свернуть");
                }
            });
        }

    });
});
</script>
{% endblock %}
