{% extends "coffee/base.html" %}
{% block content %}
<ul class="coffee-bags index-list">
    {% for bag in bags %}
    <li>
        <div class="bag-image">
        {% if bag.thumbnail %}
            <a href="{{ bag.get_absolute_url }}"><img src="{{ bag.thumbnail.url }}"></a>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        </div>
        <div class="bag-name"><a href="{{ bag.get_absolute_url }}">{% if bag.coffee.short_name %}{{ bag.coffee.short_name }}{% else %}{{ bag.coffee.name }}{% endif %}</a></div>
        <div class="bag-weight">{{ bag.get_weight_display }}</div>
        <div class="bag-roaster"><a href="{{ bag.coffee.roaster.get_absolute_url }}">{{ bag.coffee.roaster.name }}</a></div>
    </li>
    {% endfor %}
</ul>
<div class="show-more-coffee">Развернуть</div>

{% if request.user.is_authenticated %}
<p>
<a href="{% url 'coffee:brew-create' %}">Add brew</a>
</p>
{% endif %}
<script>
$(function() {
    var expanded = false;
    $(".show-more-coffee").click(function() {
        if (expanded) {
            $(".coffee-bags").animate({
                height: 240
            },
            {
                complete: function() {
                    expanded = false;
                    $(".show-more-coffee").text("Развернуть");
                }
            });
        }
        else {
            var full_height = $(".coffee-bags")[0].scrollHeight;
            $(".coffee-bags").animate({
                height: full_height
            },
            {
                complete: function() {
                    expanded = true;
                    $(".show-more-coffee").text("Свернуть");
                }
            });
        }
    });

    var brew_offset = $(".brew-list tbody>tr").length;
    var more_brews = true;

    $(window).scroll(function(){
        if($(window).scrollTop() == $(document).height() - $(window).height() && more_brews) {
            $.ajax({
                url: "{% url 'coffee:brew-list-json' %}?offset=" + brew_offset,
                dataType: "json",
                success: function(response) {
                    if (response.error) {
                        return;
                    }

                    if (!response.brews || response.brews.length == 0) {
                        more_brews = false;
                        var total_weight = 0;
                        $(".brew-list tbody>tr").each(function(_, row) {
                            var weight = parseInt($(row).children("td:eq(7)").text());
                            if (weight) {
                                total_weight += weight;
                            }
                        });
                        var total_row = $("<tr>");
                        var i;
                        for (i = 0; i < 9; i++) {
                            var td = $("<td>");
                            if (i == 0) {
                                td.addClass("hidden-md");
                            }
                            if (i < 4) {
                                td.addClass("hidden-xs").addClass("hidden-sm");
                            }
                            if (i == 7) {
                                td.text(total_weight + "g");
                            }
                            total_row.append(td);
                        }
                        $(".brew-list tbody").append(total_row);
                        return;
                    }
                    var tbody = $(".brew-list tbody");

                    $.each(response.brews, function(index, brew) {
                        $("<tr>").html("<td><a href='" + brew.url + "'>" + brew.datetime + "</a></td>" +
                            "<td class='hidden-xs hidden-sm'>" + brew.barista  + "</td>" +
                            "<td><a href='" + brew.bag_url + "'>" + brew.bag + "</a></td>" +
                            "<td><a href='" + brew.method_url + "'>" + brew.method + "</a></td>" +
                            "<td class='hidden-xs hidden-sm'>" + brew.temperature + "</td>" +
                            "<td class='hidden-xs hidden-sm'>" + brew.grinder_setting + "</td>" +
                            "<td class='hidden-xs hidden-sm hidden-md'><a href='" + brew.water_url + "'>" +  brew.water + "</a></td>" +
                            "<td class='hidden-xs hidden-sm'>" + (brew.coffee_weight?brew.coffee_weight + "g":"") + "</td>" +
                            "<td class='hidden-xs hidden-sm'>" + (brew.brew_time?brew.brew_time:"") + "</td>" +
                            "<td " + (brew.rating > 8? "class='rating_best'": "") + ">" + (brew.rating ? brew.rating + "/10" : "") + "</td>"
                        ).appendTo(tbody);
                        brew_offset += 1;
                    });
                }
            });
        }
    });
});
</script>
{% endblock %}
{% block brew_list %}
{% include "coffee/brew_list.html" %}
{% endblock %}
