{% extends "coffee/base.html" %}
{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'coffee:index' %}">Главная</a></li><li>&rarr;</li>
    <li><a href="{% url 'coffee:roasters' %}">Обжарщики</a></li>
</ul>
<h2>Обжарщики</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Обжарщик</th>
            <th>Город</th>
            <th>Чашек заварено</th>
            <th>Средний рейтинг</th>
            <th>Средний рейтинг за последние 100 чашек</th>
        </tr>
    </thead>
    <tbody>
        {% for roaster in roasters %}
        <tr>
            <td><a href="{{ roaster.get_absolute_url }}">{{ roaster.name }}</a></td>
            <td>{% if roaster.city %}{{ roaster.city }}{% endif %}</td>
            <td>{{ roaster.count }}</td>
            <td>{{ roaster.avg_rating|floatformat:1 }}</td>
            <td>{% if roaster.recent_rating %}{{ roaster.recent_rating|floatformat:1 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
