{% extends "coffee/base.html" %}
{% block content %}
<h2>Результаты поиска по запросу: {{ query }}</h2>
<ul class="coffee-bags search-result">
    {% for bag in bags %}
    <li>
        <div class="bag-image">
        {% if bag.thumbnail %}
            <a href="{{ bag.get_absolute_url }}"><img src="{{ bag.thumbnail.url }}"></a>
        {% else %}
            <div class="no-image"></div>
        {% endif %}
        </div>
        <div class="bag-name"><a href="{{ bag.get_absolute_url }}">{{ bag.coffee.name }}</a></div>
        <div class="bag-weight">{{ bag.get_weight_display }}</div>
        <div class="bag-roaster"><a href="{{ bag.coffee.roaster.get_absolute_url }}">{{ bag.coffee.roaster.name }}</a></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
