{% extends "coffee/base.html" %}
{% block content %}
<h1>Статистика</h1>
<table class="table">
    <tr>
        <td>Всего заварено чашек</td><td>{{ total_brews }}</td>
    </tr>
    <tr>
        <td>Всего потрачено кофе</td><td>{{ consumed_coffee_weight|floatformat:3 }}кг</td>
    </tr>
    <tr>
        <td>Осталось свежего кофе</td><td>{{ unexpired_coffee_weight }}г
            {% if unexpired_coffee_weight > 0 %}(
            френч прессов: {{ french_presses_remaining }}, воронок: {{ harios_remaining }}, аэропрессов: {{ aeropresses_remaining }}
            ){% endif %}
        </td>
    </tr>
    <tr>
        <td>Средний рейтинг</td>
        <td>{{ avg_rating|floatformat:1 }}</td>
    </tr>
    <tr>
        <td>Медианный рейтинг</td>
        <td>{{ median_rating }}</td>
    </tr>
    <tr>
        <td>Воды потрачено для заваривания кофе</td>
        <td>{{ consumed_water|floatformat:3 }}л</td>
    </tr>
    <tr>
        <td>Средняя скорость потребления кофе</td>
        <td>{{ consumption_rate|floatformat:1 }} г/день</td>
    </tr>
</table>
{% endblock %}
