{% extends "coffee/base.html" %}
{% block content %}
<ul class="breadcrumbs">
    <li><a href="{% url 'coffee:index' %}">Главная</a></li><li>&rarr;</li>
    <li><a href="{% url 'coffee:waters' %}">Вода</a></li>
</ul>
<h2>Вода</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Марка воды</th>
            <th>Чашек заварено</th>
            <th>Средний рейтинг за всё время</th>
            <th>Средний рейтинг за последние 100 чашек</th>
        </tr>
    </thead>
    <tbody>
        {% for water in waters %}
        <tr>
            <td><a href="{{ water.get_absolute_url }}">{{ water.name }}</a></td>
            <td>{{ water.count }}</td>
            <td>{{ water.avg_rating|floatformat:1 }}</td>
            <td>{% if water.recent_rating %}{{ water.recent_rating|floatformat:1 }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
