header {
    background: url(/static/images/coffee-pattern.jpg) repeat;
    height: 100px;

}
header nav a {
    color: white;
    font-weight: bold;
}

header nav a:hover {
    color: #fadecf;
    text-decoration: none;
}

header .logo-link {
    font-size: 3em;
}

.content-wrapper {
    padding: 0 1em;
}

.coffee-bags {
    margin: 10px auto;
    height: 75px;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
}

.coffee-bags li {
    display: inline-block;
    height: 75px;
    margin: 0 30px;
}

.coffee-bags li .bag-name {
    font-weight: bold;
    text-align: center;
}

.coffee-bags li .bag-weight {
    text-align: center;
}

.coffee-bags li .bag-roaster {
    text-align: center;
}

.rating_best {
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

#brew-form .row {
    padding: 1em 0;
}

#brew-form .custom-slider-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.duration-adjust {
    color: #8888bb;
    cursor: pointer;
    display: inline-block;
    margin-right: 9px;
}

.pouring-form-button {
    color: #8888bb;
    cursor: pointer;
}

.pouring-form-button:hover {
    color: #9999cc;
}

.remove-pouring {
    color: #8888bb;
    cursor: pointer;
}

#pouring_formset_wrap {
    list-style: none;
}
